
@import "./variables";
@import "./header";


body {
    background-color: $pinkFive;
    
}

// To add the hover you just have to put the &:hover
.contact button {
    background-color: $secondaryBtn;
    &:hover {
        background-color: $primaryBtn;
    }
}

.info {
    h1 {
        color: $pinkOne;
    }
    p {
        color: $pinkTwo;
    }  
} 
