
@import "./variables";
@import "./header";

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: $pinkFive;
    
}

// To add the hover you just have to put the &:hover
.contact button {
    
    background-color: $secondaryBtn;
    &:hover {
        background-color: $primaryBtn;
    }
}

.info {
    h1 {
        @include flexCenter();
        color: $pinkOne;
    }
    p {
        @include flexCenter();
        color: $pinkTwo;
    }  
} 
