
@import "./variables";
@import "./header";

@mixin flexCenter($color) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color;
}

body {
    @extend .info;
    background-color: $pinkFive;
    
}

// To add the hover you just have to put the &:hover
.contact button {
    
    background-color: $secondaryBtn;
    &:hover {
        background-color: $primaryBtn;
    }
}

.info {
    @include flexCenter(gray);
    h1 {
        @include flexCenter(green);
        color: $pinkOne;
    }
    p {
        @include flexCenter(yellow);
        color: $pinkTwo;
    }  
} 
