$primaryBtn: #fe4a49;
$secondaryBtn: #2ab7ca;

$pinkOne: #f6abb6;
$pinkTwo: #f4b6c2;
$pinkThree: #eec9d2; 
$pinkFour: #ead5dc;
$pinkFive: #eee3e7;


body {
    background-color: $pinkFive;
}

header button{
  background: $primaryBtn;
}

.contact button {
    background-color: $secondaryBtn;
}

.info {
    h1 {
        color: $pinkOne;
    }
    p {
        color: $pinkTwo;
    }  
} 
